/* .bgImage {
  background-image: url("../assets/images/addprojectbg.png");
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
} */
.addProjectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 200px;
  /* background-color: aqua; */
}

.projectFormContainer {
  /* height: 400px; */
  width: 60%;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 0 10px 0 rgba(219, 244, 250, 0.2);
}

.formHeader {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.formBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-bottom: 20px;
  background-color: #5ce6d4;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #003352;
}
.formBtn:hover {
  font-weight: bolder;
}

.closeBtn {
  font-size: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px;
  background-color: #5ce6d4;
  color: #003352; /* Adding transition effect */
}

.closeIcon {
  display: flex;
}

.inputContainer {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown-options {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #003352;
  z-index: 2;
  border-radius: 4px;
}

.dropdown-options-li {
  width: 100%;
  font-size: 16px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* width: 100%; */
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  text-align: center;
}

.dropdown-options-li:hover {
  background-color: #5ce6d4;
  color: #003352;
}
.dropdown-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}
.rotate-icon {
  transform: rotate(180deg); /* Adjust the rotation angle as needed */
}

.validationError {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.labelAndError {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
